[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
mypy = "*"
flake8 = "*"

[packages]
peewee = ">=3.13.3,<4"
peewee-async = ">=0.7.0,<0.8"
certifi = ">=2020.4.5.1"
python-dotenv = ">=0.13.0,<1"
cryptography = ">=2.9.2,<3"
hiyori = "<1,>=0.1.2"
sketchbook = ">=0.2.1,<1"
magichttp = ">=1.0.0,<2"
destination = ">=1.2.0,<2"
aiofiles = ">=0.5.0,<1"
aiomysql = ">=0.0.20,<0.1"
typing-extensions = "*"
magicdict = "<2,>=1.0.5"

[requires]
python_version = "3.7"
