{% extends "framework.htm" %}
{% block css %}
    <link href="{{ static_url('checkin.css') }}" rel="stylesheet" type="text/css">
{% end %}
{% block body %}
<div class="main checkin">
    <div class="container">
        <div class="filter">
            <div class="page-title">欢迎回来，为什么不快乐地登录呢？</div>
            <div class="avatar" style="background-image: url({{ static_url("avatar.jpg") }});"></div>
            <div>
                <input id="origin-username" type="text" class="input" placeholder="用户名" spellcheck="false">
            </div>
            <div>
                <input id="origin-password" type="password" class="input" placeholder="密码">
            </div>
            <div>
                <input id="origin-two" type="text" class="input" placeholder="两步验证代码">
            </div>
            <div>
                <input id="origin-remember" type="checkbox" class="checkbox" form="checkin-form">
                <label for="origin-remember">保持登录状态</label>
            </div>
            <div>
                <div id="checkin-button" clickaction="checkin" class="button">登录</div>
            </div>
        </div>
    </div>
</div>
<form id="checkin-form" action="" method="post">
    <input id="real-username" type="text" name="username">
    <input id="real-password" type="password" name="password">
    <input id="real-two" type="text" name="two">
    {% module xsrf_form_html() %}
</form>
{% end %}
{% block js %}
<script src="{{ static_url('checkin.js') }}" charset="utf-8"></script>
<script src="{{ static_url('sha.js') }}" charset="utf-8"></script>
{% end %}
