.theme-toggle {
  position: relative;
  height: 60px;
  width: 60px;
}

.button {
  position: absolute;
  inset: 0;

  height: 60px;
  width: 60px;
  padding: 0;
  margin: 0;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  border: none;
  background-color: transparent;
  color: inherit;
  font: inherit;

  opacity: 0;
  pointer-events: none;
  z-index: 0;

  transition: opacity 0.3s, background-color 0.3s, color 0.3s;
}

:global(html[data-theme='light']) .button-light {
  opacity: 1;
  pointer-events: auto;
  z-index: 1;
}

:global(html[data-theme='dark']) .button-dark {
  opacity: 1;
  pointer-events: auto;
  z-index: 1;
}
