
.main.management .lobby{
    overflow: hidden;
}
.main.management .lobby .left{
    float: left;
    width: 50%;
}
.main.management .lobby .right{
    float: right;
    width: 50%;
}
.main.management .lobby .float-block{
    width: 90%;
    border: 1px solid rgb(230, 230, 230);
    box-sizing: border-box;
    position: relative;
    box-shadow: 0 0 5px 0 rgb(100, 100, 100);
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}
.main.management .lobby .float-block .title{
    border-bottom: 1px solid rgb(230, 230, 230);
    background-color: rgb(245, 245, 245);
    height: 40px;
    line-height: 42px;
    padding-left: 20px;
    padding-right: 20px;
    box-sizing: border-box;
}
.main.management .lobby .float-block .content{
    padding: 20px;
    box-sizing: border-box;
}
.main.management .lobby .float-block .content{
    overflow: hidden;
}
