body, html {
    margin: 0;
    padding: 0;
    width: 100vw;
     /* min-height: 100vh; */
    font-size: 15px;
}

@media only screen and (max-width: 340px) {
    body, html {
        font-size: 14px;
    }
}

html[lang="zh-hant"] {
    font-family: "PingFang TC", "Helvetica Neue", Helvetica, sans-serif;
}

body {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}


body.fl-body-grey {
    background-color: rgb(244, 245, 249);
}
