<fl-section>
  <slot></slot>

  <style>
    :host {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      position: relative;
    }
  </style>
</fl-section>
